.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width:768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

}

body {
  min-height: 75rem;
  /*padding-top: 4.5rem;*/
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.marspic {
  overflow-x: hidden;
  margin-bottom: 35px;
}

h1 {
  text-align: center;
}

main p {
  font-size: 1.1em;
}
